<div *ngIf="errorMessage()" class="error-message">
  {{ errorMessage() }}
</div>

<div *ngIf="pauta()" class="pauta-detail-container">
  <h1 class="pauta-title">{{ pauta()?.titulo }}</h1>
  <p class="pauta-desc">{{ pauta()?.descricao }}</p>

  <!-- Resultado da Votação -->
  <div *ngIf="resultado()" class="resultado-container">
    <h2>Resultado</h2>
    <p>Status da Sessão: {{ resultado()?.statusSessao }}</p>
  </div>

  <!-- Dashboard Cards -->
  <div *ngIf="resultado()" class="dashboard-cards">
    <div class="dashboard-card sim">
      <div class="card-label">Sim</div>
      <div class="card-value">{{ resultado()?.totalSim }}</div>
    </div>
    <div class="dashboard-card nao">
      <div class="card-label">Não</div>
      <div class="card-value">{{ resultado()?.totalNao }}</div>
    </div>
    <div class="dashboard-card total">
      <div class="card-label">Total</div>
      <div class="card-value">{{ resultado()?.totalVotos }}</div>
    </div>
  </div>

  <!-- Abrir Sessão de Votação -->
  <div *ngIf="!resultado()">
    <form
      [formGroup]="sessaoForm"
      (ngSubmit)="abrirSessao()"
      class="abrir-sessao-form"
    >
      <div class="input-row">
        <label for="duracao">Duração em minutos:</label>
        <input
          id="duracao"
          type="number"
          formControlName="duracaoEmMinutos"
          min="1"
        />
      </div>
      <button type="submit" class="btn" [disabled]="isLoading()">
        Abrir Sessão de Votação
      </button>
    </form>
  </div>

  <!-- Votação -->
  <div *ngIf="resultado() && resultado()?.statusSessao === 'Aberta'">
    <form [formGroup]="votacaoForm" (ngSubmit)="votar()">
      <div class="input-row">
        <label for="idAssociado">ID do Associado:</label>
        <input id="idAssociado" formControlName="idAssociado" />
      </div>

      <div class="input-row votos-column">
        <label class="voto-label sim">
          <input type="radio" value="SIM" formControlName="opcaoVoto" />
          <span class="voto-text">
            <span class="voto-title">Sim</span>
            <span class="voto-desc">(Concordo com a proposta)</span>
          </span>
        </label>

        <label class="voto-label nao">
          <input type="radio" value="NAO" formControlName="opcaoVoto" />
          <span class="voto-text">
            <span class="voto-title">Não</span>
            <span class="voto-desc">(Discordo da proposta)</span>
          </span>
        </label>
      </div>

      <button
        type="submit"
        class="btn"
        [disabled]="votacaoForm.invalid || isLoading()"
      >
        <span *ngIf="isLoading(); else votarText">Aguarde...</span>
        <ng-template #votarText>Votar</ng-template>
      </button>
    </form>
  </div>
</div>
