<div class="container">
  <div class="header">
    <h1>Pautas</h1>
    <a routerLink="/pautas/nova" class="btn">Nova Pauta</a>
  </div>

  <div *ngIf="hasError()" class="error-message">
    {{ errorMessage() }}
    <button (click)="clearError()" class="btn-close">×</button>
  </div>

  <div *ngIf="!hasPautas() && !hasError()" class="empty-state">
    <p>Nenhuma pauta encontrada.</p>
  </div>

  @if (hasPautas()) {
  <ul class="pauta-list">
    @for (pauta of pautas(); track pauta.id) {
    <li>
      <a [routerLink]="['/pautas', pauta.id]">
        <div class="pauta-card-header">
          <h2>{{ pauta.titulo }}</h2>
          <span
            class="status"
            [ngClass]="{
              aberta: pauta.sessaoAberta,
              fechada: !pauta.sessaoAberta
            }"
          >
            {{ pauta.sessaoAberta ? "Aberta" : "Fechada" }}
          </span>
        </div>
        <p>{{ pauta.descricao }}</p>
      </a>
    </li>
    }
  </ul>
  }
</div>
