@use "../../../styles/variables" as vars;

.container {
  background: vars.$color-surface;
  border-radius: vars.$border-radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  padding: vars.$spacing;
  max-width: 600px;
  margin: vars.$spacing auto 0 auto;

  @media (max-width: 600px) {
    padding: 1rem;
    max-width: 100%;
    margin-top: 1rem;
  }
}

.form-field {
  margin-bottom: 1.2rem;
  width: 95%;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: vars.$color-primary;
    font-weight: 500;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid vars.$color-muted;
    border-radius: vars.$border-radius;
    background: vars.$color-bg;
    color: vars.$color-text;
    transition: border 0.2s;

    @media (max-width: 600px) {
      font-size: 1rem;
    }

    &:focus {
      border-color: vars.$color-secondary;
      outline: none;
    }
  }
}

.btn {
  background-color: vars.$color-secondary;
  color: vars.$color-surface;
  padding: 0.75rem 1.5rem;
  border-radius: vars.$border-radius;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
  width: 100%;

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.7rem 0;
    font-size: 1rem;
  }

  &:disabled {
    background-color: vars.$color-muted;
    cursor: not-allowed;
  }
}

h1 {
  @media (max-width: 600px) {
    font-size: 1.3rem;
  }
}
